# Load dependencies

In [2]:
!pip install plotly

Collecting plotly
  Downloading plotly-6.1.1-py3-none-any.whl.metadata (6.9 kB)
Collecting narwhals>=1.15.1 (from plotly)
  Downloading narwhals-1.40.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: packaging in c:\users\asus\onedrive\desktop\pto\ml_learn\myenvi\lib\site-packages (from plotly) (25.0)
Downloading plotly-6.1.1-py3-none-any.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
    --------------------------------------- 0.3/16.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.1 MB 985.5 kB/s eta 0:00:16
   - -------------------------------------- 0.8/16.1 MB 1.2 MB/s eta 0:00:13
   -- ------------------------------------- 1.0/16.1 MB 1.4 MB/s eta 0:00:11
   --- ------------------------------------ 1.6/16.1 MB 1.5 MB/s eta 0:00:10
   ---- ----------------------------------- 1.8/16.1 MB 1.7 MB/s eta 0:00:09
   ----- ---------------------------------- 2.1/16.1 MB 1.6 MB/s eta 0:00:09
   ------ --------------------------------- 2.6/16.1 MB 1.6 MB/s eta 0:00:09
   ------- -------------------------------- 2.9/16.1 MB 1.6 MB/s eta 0:00:09
   -------- ------------------------------- 3.4/16.1 MB 1.7 MB/s eta 0:00:08
   --------- ------------------------------ 3.7/16.1 MB 1.7 MB/s eta 0:00:08
   --------- ------------------------------ 3.9/16.1 MB 1.7 MB/s eta 0:00:08
   ---------- ----------------------------- 4.2/16.1 MB 1.6 MB/s eta 0:00:08
   ---------- ----------------------------- 4.2/16.1 MB 1.6 MB/s eta 0:00:08
   ----------- ---------------------------- 4.5/16.1 MB 1.5 MB/s eta 0:00:08
   ----------- ---------------------------- 4.5/16.1 MB 1.5 MB/s eta 0:00:08
   ----------- ---------------------------- 4.7/16.1 MB 1.3 MB/s eta 0:00:09
   ----------- ---------------------------- 4.7/16.1 MB 1.3 MB/s eta 0:00:09
   ------------ --------------------------- 5.0/16.1 MB 1.3 MB/s eta 0:00:09
   ------------ --------------------------- 5.0/16.1 MB 1.3 MB/s eta 0:00:09
   ------------- -------------------------- 5.2/16.1 MB 1.2 MB/s eta 0:00:09
   ------------- -------------------------- 5.5/16.1 MB 1.2 MB/s eta 0:00:09
   ------------- -------------------------- 5.5/16.1 MB 1.2 MB/s eta 0:00:09
   -------------- ------------------------- 5.8/16.1 MB 1.2 MB/s eta 0:00:09
   -------------- ------------------------- 6.0/16.1 MB 1.2 MB/s eta 0:00:09
   --------------- ------------------------ 6.3/16.1 MB 1.2 MB/s eta 0:00:09
   ---------------- ----------------------- 6.6/16.1 MB 1.2 MB/s eta 0:00:09
   ---------------- ----------------------- 6.8/16.1 MB 1.2 MB/s eta 0:00:08
   ---------------- ----------------------- 6.8/16.1 MB 1.2 MB/s eta 0:00:08
   ----------------- ---------------------- 7.1/16.1 MB 1.2 MB/s eta 0:00:08
   ------------------ --------------------- 7.3/16.1 MB 1.2 MB/s eta 0:00:08
   ------------------ --------------------- 7.6/16.1 MB 1.1 MB/s eta 0:00:08
   ------------------- -------------------- 7.9/16.1 MB 1.2 MB/s eta 0:00:08
   -------------------- ------------------- 8.1/16.1 MB 1.2 MB/s eta 0:00:07
   -------------------- ------------------- 8.1/16.1 MB 1.2 MB/s eta 0:00:07
   -------------------- ------------------- 8.4/16.1 MB 1.1 MB/s eta 0:00:07
   --------------------- ------------------ 8.7/16.1 MB 1.1 MB/s eta 0:00:07
   ---------------------- ----------------- 8.9/16.1 MB 1.1 MB/s eta 0:00:07
   ----------------------- ---------------- 9.4/16.1 MB 1.2 MB/s eta 0:00:06
   ----------------------- ---------------- 9.4/16.1 MB 1.2 MB/s eta 0:00:06
   ------------------------ --------------- 9.7/16.1 MB 1.2 MB/s eta 0:00:06
   ------------------------ --------------- 10.0/16.1 MB 1.1 MB/s eta 0:00:06
   ------------------------- -------------- 10.2/16.1 MB 1.2 MB/s eta 0:00:06
   -------------------------- ------------- 10.5/16.1 MB 1.2 MB/s eta 0:00:05
   -------------------------- ------------- 10.5/16.1 MB 1.2 MB/s eta 0:00:05
   -------------------------- ------------- 10.7/16.1 MB 1.1 MB/s eta 0:00:05
   --------------------------- ------------ 11.0/16.1 MB 1.1 MB/s eta 0:00:05
   --------------------------- ------------ 11.0/16.1 MB 1.1 MB/s eta 0:00:05
   --------------------------- ------------ 11.0/16.1 MB 1.1 MB/s eta 0:00:05
   --------------------------- ------------ 11.3/16.1 MB 1.1 MB/s eta 0:00:05
   ---------------------------- ----------- 11.5/16.1 MB 1.1 MB/s eta 0:00:05
   ----------------------------- ---------- 11.8/16.1 MB 1.1 MB/s eta 0:00:04
   ----------------------------- ---------- 12.1/16.1 MB 1.1 MB/s eta 0:00:04
   ------------------------------ --------- 12.3/16.1 MB 1.1 MB/s eta 0:00:04
   ------------------------------ --------- 12.3/16.1 MB 1.1 MB/s eta 0:00:04
   ------------------------------- -------- 12.6/16.1 MB 1.1 MB/s eta 0:00:04
   ------------------------------- -------- 12.8/16.1 MB 1.1 MB/s eta 0:00:04
   -------------------------------- ------- 13.1/16.1 MB 1.1 MB/s eta 0:00:03
   -------------------------------- ------- 13.1/16.1 MB 1.1 MB/s eta 0:00:03
   --------------------------------- ------ 13.4/16.1 MB 1.1 MB/s eta 0:00:03
   --------------------------------- ------ 13.6/16.1 MB 1.1 MB/s eta 0:00:03
   ---------------------------------- ----- 13.9/16.1 MB 1.1 MB/s eta 0:00:03
   ---------------------------------- ----- 13.9/16.1 MB 1.1 MB/s eta 0:00:03
   ----------------------------------- ---- 14.2/16.1 MB 1.1 MB/s eta 0:00:02
   ----------------------------------- ---- 14.4/16.1 MB 1.1 MB/s eta 0:00:02
   ------------------------------------ --- 14.7/16.1 MB 1.1 MB/s eta 0:00:02
   ------------------------------------- -- 14.9/16.1 MB 1.1 MB/s eta 0:00:02
   ------------------------------------- -- 15.2/16.1 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 15.5/16.1 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  15.7/16.1 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  15.7/16.1 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 1.1 MB/s eta 0:00:00
Downloading narwhals-1.40.0-py3-none-any.whl (357 kB)
Installing collected packages: narwhals, plotly
Successfully installed narwhals-1.40.0 plotly-6.1.1

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
#general
import io

#data
import numpy as np
import pandas as pd

#machinelearning
import keras

#visualization
import seaborn as sns
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go

In [4]:
chicago_taxi_dataset = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/chicago_taxi_train.csv")

In [6]:
chicago_taxi_dataset.head(10)

,TRIP_START_TIMESTAMP,TRIP_END_TIMESTAMP,TRIP_START_HOUR,TRIP_SECONDS,TRIP_MILES,TRIP_SPEED,PICKUP_CENSUS_TRACT,DROPOFF_CENSUS_TRACT,PICKUP_COMMUNITY_AREA,DROPOFF_COMMUNITY_AREA,FARE,TIPS,TIP_RATE,TOLLS,EXTRAS,TRIP_TOTAL,PAYMENT_TYPE,COMPANY
0,05/17/2022 7:15:00 AM,05/17/2022 7:45:00 AM,7.25,2341,2.57,4.0,NaN,NaN,NaN,17.0,31.99,2.00,6.3,0.0,0.0,33.99,Mobile,Flash Cab
1,05/17/2022 5:15:00 PM,05/17/2022 5:30:00 PM,17.25,1074,1.18,4.0,NaN,1.703108e+10,NaN,8.0,9.75,3.00,27.9,0.0,1.0,14.25,Credit Card,Flash Cab
2,05/17/2022 5:15:00 PM,05/17/2022 5:30:00 PM,17.25,1173,1.29,4.0,1.703132e+10,1.703108e+10,32.0,8.0,10.25,0.00,0.0,0.0,0.0,10.25,Cash,Sun Taxi
3,05/17/2022 6:00:00 PM,05/17/2022 7:00:00 PM,18.00,3360,3.70,4.0,1.703132e+10,1.703124e+10,32.0,24.0,23.75,0.00,0.0,0.0,1.0,24.75,Cash,Choice Taxi Association
4,05/17/2022 5:00:00 PM,05/17/2022 5:30:00 PM,17.00,1044,1.15,4.0,1.703132e+10,1.703108e+10,32.0,8.0,10.00,0.00,0.0,0.0,0.0,10.00,Cash,Flash Cab
5,05/17/2022 5:30:00 PM,05/17/2022 6:00:00 PM,17.50,1251,1.38,4.0,1.703108e+10,1.703128e+10,8.0,28.0,11.00,3.00,27.3,0.0,0.0,14.50,Credit Card,Flash Cab
6,05/17/2022 5:00:00 PM,05/17/2022 5:30:00 PM,17.00,1813,2.00,4.0,1.703108e+10,1.703128e+10,8.0,28.0,14.50,0.00,0.0,0.0,0.0,14.50,Cash,Sun Taxi
7,05/17/2022 5:30:00 PM,05/17/2022 6:00:00 PM,17.50,1857,2.05,4.0,1.703108e+10,1.703128e+10,8.0,28.0,14.75,4.19,25.8,0.0,1.5,20.94,Credit Card,Sun Taxi
8,05/17/2022 7:00:00 PM,05/17/2022 7:00:00 PM,19.00,787,0.87,4.0,1.703108e+10,1.703108e+10,8.0,8.0,8.00,0.00,0.0,0.0,1.5,9.50,Cash,City Service
9,05/16/2022 6:30:00 PM,05/16/2022 6:45:00 PM,18.50,1399,1.55,4.0,NaN,NaN,32.0,6.0,17.88,4.11,23.0,0.0,0.0,21.99,Mobile,Flash Cab

In [7]:
training_dataSet = chicago_taxi_dataset[['TRIP_MILES','TRIP_SECONDS','FARE','TIP_RATE','PAYMENT_TYPE','COMPANY']]

In [11]:
training_dataSet.head()

,TRIP_MILES,TRIP_SECONDS,FARE,TIP_RATE,PAYMENT_TYPE,COMPANY
0,2.57,2341,31.99,6.3,Mobile,Flash Cab
1,1.18,1074,9.75,27.9,Credit Card,Flash Cab
2,1.29,1173,10.25,0.0,Cash,Sun Taxi
3,3.70,3360,23.75,0.0,Cash,Choice Taxi Association
4,1.15,1044,10.00,0.0,Cash,Flash Cab

In [12]:
training_dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31694 entries, 0 to 31693
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TRIP_MILES    31694 non-null  float64
 1   TRIP_SECONDS  31694 non-null  int64
 2   FARE          31694 non-null  float64
 3   TIP_RATE      31694 non-null  float64
 4   PAYMENT_TYPE  31694 non-null  object
 5   COMPANY       31694 non-null  object
dtypes: float64(3), int64(1), object(2)
memory usage: 1.5+ MB